<!DOCTYPE html>
<html lang="en">
    <head>
        {{ include('AdminBundle:layout:head.html.twig') }}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous" />
        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.css" />
        
        <link rel="stylesheet" href="{{ asset('assets/css/general.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/global.css') }}" />
        
        {% endblock %}
    </head>
    <body class="app">
        
        {#<div id="app">#}
            
        {{ include('AdminBundle:layout:header.html.twig') }}
        
        <content class="root">
            <div class="inner">
        {% block main %}
            
        
        {% endblock %}
            </div>
        </content>
        
        {{ include('AdminBundle:layout:footer.html.twig') }}
        
        {#</div>#}
        
        {#{{ include('AdminBundle:layout:scripts.html.twig') }}#}
        <!----------------------------------------------------------------------------->
        {% block javascript %}
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        {#<script type="text/javascript" src="{{ asset('assets/js/adds/materialize/materialize.js') }}"></script>#}
        {% endblock %}
        <!----------------------------------------------------------------------------->
    </body>
</html>